.boton {
    background-color: #a18d6c;
    padding: 10px 40px;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 1em;
    margin-top: 20px;
    display: inline-block;
    transition: all .3s ease;
    border: 2px solid #353535;
}

.boton:hover {
    background-color: #a1742a;
}

.button {
    background-color: #a18d6c;
    padding: 10px 40px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    font-size: 2em;
    margin-top: 20px;
    display: inline-block;
    transition: all .3s ease;
    border: 2px solid;
    /* Es para el borde de la sección de abajo*/
}

.button.transparente {
    background-color: transparent;
    border: 2px solid #ffffff;
}

.button:hover {
    background-color: #a18d6c;
}

.labell {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 1em
}
.card-text {
    font-size: 1em;
}
.desc{
    text-align:start;
}
/* NAVBAR */
div.barra {
    background-color: #353535;
    padding: 15px 0;
}

div.logo {
    width: 70%;
}

    div.logo img {
        width: 33%;
        float: left;
    }

/* Nav Principal */
div.contenedor-nav {
    width: 90%;
    margin: 0 auto;
}

nav.navegacion-principal {
    width: 75%;
    float: right;
    text-align: right;
    display: block;
    padding-top: 20px;
}

    nav.navegacion-principal a {
        font-family: 'Oswald', sans-serif;
        color: #ffffff;
        font-size: 1.3em;
        text-transform: uppercase;
        text-decoration: none;
        transition: all .6s ease;
        width: 100%;
        display: block;
        text-align: center;
        margin-bottom: 20px;
    }

    nav.navegacion-principal a {
        margin-right: 10px;
        padding: 10px 10px;
        display: inline-block;
        width: auto;
        display: inline-block;
        text-align: center;
        margin: 0 10px 0 0;
        border-radius: 4px;
    }


nav.navegacion-principal a:hover {
    background-color: #a18d6c;
}

nav.navegacion-principal a:last-child {
    border: 2px solid #a18d6c;
    color: #a18d6c;
}

nav.navegacion-principal a:last-child:hover {
    color: #ffffff;
}


/* CENTRO*/
.boton {
    margin-left: 40px;
    text-decoration:none;
}
.card-text{
    text-align:center;
}
.panel2{
    margin-left:100px;
}
i{
    color:#a18d6c;

}
.border {
    border: 5px solid #808080;
}

footer {
    background-color: #353535;
    padding-top: 40px;
    margin-top: 20px;
}

footer .contenedor > div {
    color: #ffffff;
    padding: 0px 20px;
    font-size: 12px;
    width: 45%;
    float: left;
}

footer h3 {
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 20px;
}

footer h3 {
    color: #a18d6c;
}

footer .ultimos-noticias li {
    margin-bottom: 10px;
}

footer nav.redes-sociales {
    text-align: left;
}

p.copyright {
    background-color: #2e2e2e;
    color: #ffffff;
    padding: 10px 0;
    margin: 20px 0 0 0;
    text-align: center;
}